<div>
    <strong>
        Menu
    </strong>
    <ol>
        <li>
            <a routerLink="products">
                producty
            </a>
        </li>
        <li>
            <a routerLink="users">
                Uzytkownicy
            </a>
        </li>
        <li>
            <a routerLink="basket">
                koszyk
            </a>
        </li>
    </ol>
</div>

<br/>
<br/>
<br/>

<router-outlet></router-outlet>

<br/>
<br/>
<br/>

<div>
    <strong>
        Stopka
    </strong>
</div>

<!--
<app-product [data]="producty" [basket]="basket">


</app-product>-->